.footer {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 100px;
  background-color: green;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer > div {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}
.first > :nth-child(2) {
  width: 200px;
  font-size: 15px;
}
.first > :nth-child(1) {
  margin: 0;
}
.first span {
  font-style: italic;
}
@media (max-width: 600px) {
  .footer {
    display: grid;
    margin-left: -20px;
    gap: 25px;
    grid-template-columns: auto auto;
  }
  .first > :nth-child(2) {
    width: 100px;
    font-size: 15px;
  }
  .first > :nth-child(1) {
    margin: 0;
  }
  .first span {
    font-style: italic;
  }
}
